.top-10 {
    margin-top:10px !important;
}

.bottom-10 {
    margin-bottom:10px !important;
}

.theme-background-2 {
    background:rgb(244,244,244);
}


/* SELECTION COMPONENT */
.selection-color-box {
    height:50px;
    width:50px;
    float:left;
}

.sc-child p {
   float:left;
   font-size:15px;
   margin-top:11px;
   margin-left:5px;
}

.sc-child button {
    margin-top:7px;
    float:right;
    border-radius:100%;
    padding:7px 10px;
}

.sc-child button:focus  {
    outline: none !important;
}

#high_level {
    position: absolute;
    top: 760px;
    left: 25%;

}

#high_level_svg {
    background: #131410;
    position: relative;
    float: left;

}
