#container {
    max-width: 1500px;
    min-width: 1000px;
    height: 1000px;
    position: fixed;
    margin: auto;
}

#menu_bar {
    max-width: 1500px;
    min-width: 1000px;
    height: 1000px;
    position: relative;
    top: 0;
}

#left_column {
    width: 500px;
    height: 1000px;
    position: absolute;
    left: 0;
}

#low_level {
    height: 500px;
    width: 1000px;
    position: relative;
    background: #212121;
}

#high_level {
    height: 500px;
    width: 1000px;
    position: relative;
    background: #212121;
}

